<div class="home__container">
	<app-card
		gameCover="assets/bt-1.jpg"
		gameLabel="NEW"
		gameType="DIGITAL | PS3 PS4"
		gamePrice="R$ 78,99"
		gameLink="https://store.playstation.com/pt-br/product/UP0006-CUSA02429_00-BATTLEFIELD01000"
	>
	</app-card>
	<app-card
		gameCover="assets/bt-4.jpg"
		gameLabel="BEST OF YEAR"
		gameType="DISC | PS3 PS4"
		gamePrice="R$ 99,50"
		gameLink="https://store.playstation.com/pt-br/product/UP0006-CUSA00110_00-BATTLEFIELD40000"
	>
	</app-card>
	<app-card
		gameCover="assets/bt-5.jpg"
		gameLabel="NEW"
		gameType="DIGITAL  | PS4 PS5"
		gamePrice="R$ 198,99"
		gameLink="https://store.playstation.com/pt-br/product/UP0006-CUSA08724_00-BATTLEFIELDV0000"
	>
	</app-card>
	<app-card
		gameCover="assets/bt-bad-company-2.jpg"
		gameLabel="DIGITAL"
		gameType="DIGITAL  | PS3"
		gamePrice="R$ 69,99"
		gameLink="https://www.ea.com/pt-br/games/battlefield/battlefield-bad-company-2"
	>
	</app-card>
	<app-card
		gameCover="assets/bt-hardline.jpg"
		gameLabel="DIGITAL"
		gameType="DIGITAL  | PS3"
		gamePrice="R$ 69,99"
		gameLink="https://store.playstation.com/pt-pt/product/EP0006-CUSA00633_00-BFHSTANDARDEDITI"
	>
	</app-card>
	<app-card
		gameCover="assets/ac-cover.jpg"
		gameLabel="EXCLUSIVE"
		gameType="DIGITAL | PS3"
		gamePrice="R$ 59,99"
		gameLink="https://store.ubisoft.com/ofertas/assassins-creed-directors-cut-edition/56c4947f88a7e300458b468e.html?lang=pt_BR"
	>
	</app-card>
</div>
